body{
 background-color: rgb(54, 54, 54);
 margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.title {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seat{
    font-size: 35px;
    margin: 10px;
}
.seat:not(.full):hover{ 
    transform: scale(1.2);/* koltukları büyüttüm*/
}
#selectMovie{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.emptySeat{
    color: lightgray;
    font-size: 16px;
}
.selectedSeat{
    color: yellow;
    font-size: 16px;
}
.fullSeat{
    color: red;
    font-size: 16px;
}

.seatStatusMain > .row > div{ /* annesi row olan div etiketi *//* > olmasaydı bütün div etiketleri olurdu*/
    margin-right: 15px;
}
.resultTextMain > p {
    color: lightgray;
    font-size: 19px;
}
.resultTextMain > p > span {
    color: yellow;
}

.buttonMain{
    margin-top: 10px;
}

#buyButton{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(23,100,41);
    border: none;
    color: #fff;
}

#clearButton{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(108,108,108);
    border: none;
    color: #fff;
}
/* sahne */
.screen{
    background-color: lightgray;
    width: 650px;
    height: 140px;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px lightgray;
}
.screenTitle{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}

/* koltuk rengi*/
.empty{
    color: lightgray;
}

.selected{
    color : rgb(227, 227, 98)
}

.full{
    color: red;
}